

@font-face {
  font-family: 'Proxima';
  src: url("font/proximanova-light-webfont.eot");
  src: url("font/proximanova-light-webfont.eot?#iefix") format("embedded-opentype"), url("font/proximanova-light-webfont.woff") format("woff"), url("font/proximanova-light-webfont.ttf") format("truetype"), url("font/proximanova-light-webfont.svg#proxima_nova_ltlight") format("svg");
  font-weight: light;
  font-style: normal;
}
@font-face {
  font-family: 'Proxima';
  src: url("font/proximanova-regitalic-webfont.eot");
  src: url("font/proximanova-regitalic-webfont.eot?#iefix") format("embedded-opentype"), url("font/proximanova-regitalic-webfont.woff") format("woff"), url("font/proximanova-regitalic-webfont.ttf") format("truetype"), url("font/proximanova-regitalic-webfont.svg#proxima_novaregular_italic") format("svg");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'Proxima';
  src: url("font/proximanova-regular-webfont.eot");
  src: url("font/proximanova-regular-webfont.eot?#iefix") format("embedded-opentype"), url("font/proximanova-regular-webfont.woff") format("woff"), url("font/proximanova-regular-webfont.ttf") format("truetype"), url("font/proximanova-regular-webfont.svg#proxima_nova_rgregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Proxima';
  src: url("font/proximanova-semibold-webfont.eot");
  src: url("font/proximanova-semibold-webfont.eot?#iefix") format("embedded-opentype"), url("font/proximanova-semibold-webfont.woff") format("woff"), url("font/proximanova-semibold-webfont.ttf") format("truetype"), url("font/proximanova-semibold-webfont.svg#proxima_novasemibold") format("svg");
  font-weight: bold;
  font-style: normal;
}
