* {
	font-family: 'Proxima';
}

.logoresponsive {
	display: block;
	width: 100%;
	height:30px;
	text-align: center;
	background:#fff;
	padding:15px 0;
}
.logoresponsive img{
	height:30px;
}

body {
	background:url("../Landing-image/fond-pupitre-bot.png");
	background-size:cover;
	margin:0;
	padding:0;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.MrBot {
	display: block;
	width: 100%;
	height: 200px;
	text-align: center;
	font-family: avenir,book;
	font-size: 12;
	color: #fff;
}

#chat-box {
	background-color: #EEEFF0;
	width: 50%;
	height: 70%;
	position: relative;
	bottom: 63px;
	margin: 0 25%;
}

#chat-box header {
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	text-align: center;
	background-color: white;
	top: -38px;
	padding: 10px 0;
	border-bottom: 1px solid #AAAAAA;
	position: absolute;
    width: 100%;
}
#chat-box header span {
	float: right;
	cursor: pointer;
	margin-right: 15px;
}

#chat-input {
	position: absolute;
	bottom: -63px;
	width: 100%;
}
#chat-input .inner {
	background-color: #EEEFF0;
	height: 100%;
	position: relative;
	padding: 20px;
}
#chat-input input {
	width: 100%;
	padding: 12px 10px;
	font-size: 15px;
}

#chat-content {
	overflow-y: scroll;
	height: 100%;
	position: relative;
}

#chat-content>.inner {
	padding: 0px 45px;
	min-height: 100%;
}

.message {
	margin: 25px 0;
}

.message>.inner {
	clear: both;
	width: 45%;
	border-radius: 5px;
	padding: 10px;
	color: white;
}
.message>.inner.left {
	background-color: #0099FF;
	position: relative;
	float: left;
}
.message>.inner.right {
	background-color: #1BC74E;
	position: relative;
	float: right;
}
